<!DOCTYPE html>
<html>
<head>
  <title>CasPer</title>
  <%= stylesheet_link_tag    "cas_per/application", :media => "all" %>
  <%= javascript_include_tag "cas_per/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
